---
layout: default
title: Projects
permalink: /projects/
---

<div class="pad-y-xl cf pad-x-m">
  <div class="col col-12 m-col-9  pad-m">
    <h2 class="h6 caps bold"> Featured </h2>
    <ul class="list-reset">
      {% for project in site.projects %}
      <li class="mar-b-l cf black-1 border-thin m-col-12 max-width-l shadow">
        <a href="../{{project.permalink}}" class="link">
          {% if project.thumbnail %}
            <div class="col col-12 m-col-6 l-col-4 ">
              <img src="../img/projects/thumbnails/{{ project.thumbnail }}" alt=" {{project.title}} ">
            </div>
          {% endif %}
          <div class="col col-12 m-col-6 l-col-8 pad-x-m pad-y-m">
            <h2 class=" bold">{{ project.title }}</h2>
            {% if project.subtitle %}
              <p> <small>{{ project.subtitle }}</small> </p>
            {% endif %}
          </div>
        </a>
        <!-- {% if project.tags %}
          <ul class="list-reset">
          {% for tag in project.tags %}
            <li class="inline-block h6 caps bold pad-r-m">{{ tag }}</li>
          {% endfor %}
          </ul>
        {% endif %} -->
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col col-12 m-col-3 pad-m">
    <h2 class="h6 caps bold"> Website Links </h2>
    <ul class="list-reset">
      <li class="pad-y-s">
        <a href="http://cinereach.org" target=_blank>
          <p class="h3"> Cinereach 🔗</p>
        </a>
      </li>
      <li class="pad-y-s">
        <a href="http://thrillderness.co" target=_blank>
          <p class="h3"> Thrillderness  🔗</p>
        </a>
      </li>
      <li class="pad-y-s">
        <a href="http://sandbox.tribecafilminstitute.org" target=_blank>
          <p class="h3"> TFI Sandbox  🔗</p>
        </a>
      </li>
    </ul>
    <hr class="mar-y-xl">
    <h2 class="h6 caps bold"> Other Samples </h2>
    <ul class="list-reset">
      <li class=" pad-y-s">
        <p class="h3"><a class="link" href="http://" target=_blank> Dribbble </a></p>
      </li>
      <li class="pad-y-s">
        <p class="h3"><a class="link" href="http://" target=_blank> Design Inc. </a></p>
      </li>
    </ul>
  </div>
</div>
