
<footer class=" cf z3 relative pad-t-m pad-t-l pad-x-l pad-b-m border-bottom">
  <div class="col col-12 l-col-8">
    <div class="site-description">
       <!-- Links to Everything -->
       <ul class="list-reset">

        <li class="col pad-r-m">
         <a href="mailto:{{site.email}}">
           <span class="username">{{site.email}}</span>
         </a>
        </li>

        {% if site.instagram_username %}
        <li class="col pad-r-m">
         <a href="http://instagram.com/{{ site.instagram_username }}">
           <span class="icon-instagram"> </span>
           Instagram
           <!-- <span class="username"> {{site.instagram_username}} </span> -->
         </a>
        </li>
        {% endif %}

        {% if site.medium_username %}
        <li class="col pad-r-m">
         <a href="http://medium.com/{{ site.medium_username }}">
           <span class="icon-medium">	</span>
           Medium
           <!-- <span class="username"> {{site.medium_username}} </span> -->
         </a>
        </li>
        {% endif %}

        {% if site.github_username %}
           <li class="col pad-r-m">
             <a href="https://github.com/{{ site.github_username }}">
               <span class="icon-github"> </span>
               Github
               <!-- <span class="username">{{ site.github_username }}</span> -->
             </a>
           </li>
        {% endif %}

        {% if site.dribbble_username %}
           <li class="col pad-r-m">
             <a href="https://dribbble.com/{{ site.dribbble_username }}">
               <span class="icon-github"> </span>
               Dribbble
               <!-- <span class="username">{{ site.dribbble_username }}</span> -->
             </a>
           </li>
        {% endif %}

        {% if site.twitter_username %}
           <li class="col pad-r-m">
             <a href="https://twitter.com/{{ site.twitter_username }}">
               <span class=" icon-twitter">  </span>
               Twitter
               <!-- <span class="username">{{ site.twitter_username }}</span> -->
             </a>
           </li>
        {% endif %}

       </ul>



      <!-- <p class="rss-subscribe">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
         <span class="icon-rss"></span> <br>
       Subscribe via RSS
          </a>
     </p> -->
    </div>

  </div>
  <div class="col col-12 l-col-4">
    <p class="copyright">
      All content © Alex Bloom 2010-2016
    </p>
  </div>
</footer>

<script>

function homeBackgroundColor(){
  // Random Background Color for Home Page
  var hue = 'rgb(' +
    (Math.floor(Math.random() *(360-120+1)+100)) + ',' +
    (Math.floor(Math.random() *(360-120+1)+100)) + ',' +
      (Math.floor(Math.random() *(360-120+1)+100)) + ')';

  var huetwo = 'rgb(' +
    (Math.floor(Math.random() *(360-110+1)+100)) + ',' +
    (Math.floor(Math.random() *(360-110+1)+100)) + ',' +
      (Math.floor(Math.random() *(360-110+1)+100)) + ')';

  document.getElementById('gradientDiv').style.backgroundImage= "linear-gradient( 45deg, " + hue + " , " + huetwo + ")";
  document.getElementById('gradientDiv').style.backgroundColor = hue;
}

homeBackgroundColor();



/*
https://www.smashingmagazine.com/2016/07/improving-user-flow-through-page-transitions/

You can copy paste this code in your console on smashingmagazine.com
in order to have cross-fade transition when change page.
*/

var cache = {};
function loadPage(url) {
if (cache[url]) {
  return new Promise(function(resolve) {
    resolve(cache[url]);
  });
}
return fetch(url, {
  method: 'GET'
}).then(function(response) {
  cache[url] = response.text();
  return cache[url];
});
}

var main = document.querySelector('main');

function changePage() {
var url = window.location.href;

loadPage(url).then(function(responseText) {
  var wrapper = document.createElement('div');
      wrapper.innerHTML = responseText;

  var oldContent = document.querySelector('.ajaxWrap');
  var newContent = wrapper.querySelector('.ajaxWrap');

  main.appendChild(newContent);
  animate(oldContent, newContent);
});
}

function animate(oldContent, newContent) {
//oldContent.style.position = 'absolute';

//var transOut = oldContent.classList.add('pageTransOut');
var fadeOut = oldContent.animate({
  opacity: [1, 0]
}, 300);


//var transIn = newContent.classlist.add('pageTransIn');
var fadeIn = newContent.animate({
  opacity: [0, 1]
}, 300);

fadeIn.onfinish = function() {
  document.body.scrollTop = 0;
  oldContent.parentNode.removeChild(oldContent);
  homeBackgroundColor();
};
}

window.addEventListener('popstate', changePage);

document.addEventListener('click', function(e) {
var el = e.target;

while (el && !el.href) {
  el = el.parentNode;
}

if (el) {
  e.preventDefault();
  history.pushState(null, null, el.href);
  changePage();

  return;
}
});
</script>
