
<footer class=" cf z3 relative pad-y-l pad-x-l border-bottom black bg-black-2">
  <div class="col col-12 pad-b-m">
    <div class="site-description">
       <!-- Links to Everything -->
       <ul class="list-reset">
        <li class="inline-block pad-r-m">
           <a href="mailto:{{site.email}}">
             <span class="username">{{site.email}}</span>
           </a>
        </li>
        <li class="inline-block pad-r-m">
          <a href="http://designinc.com/alexbloom" target="_blank">Design Inc.</a>
        </li>
        {% if site.instagram_username %}
        <li class="inline-block pad-r-m">
         <a href="http://instagram.com/{{ site.instagram_username }}">
           <span class="icon-instagram"> </span>
           Instagram
         </a>
        </li>
        {% endif %}
        {% if site.github_username %}
         <li class="inline-block pad-r-m">
           <a href="https://github.com/{{ site.github_username }}">
             <span class="icon-github"> </span>
             Github
           </a>
         </li>
        {% endif %}
        {% if site.dribbble_username %}
           <li class="col pad-r-m">
             <a href="https://dribbble.com/{{ site.dribbble_username }}">
               <span class="icon-github"> </span>
               Dribbble
             </a>
           </li>
        {% endif %}
       </ul>



      <!-- <p class="rss-subscribe">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
         <span class="icon-rss"></span> <br>
       Subscribe via RSS
          </a>
     </p> -->
    </div>

  </div>
  <div class="col col-12">
    <p class="copyright">
      <small>All content © Alex Bloom 2010-2016</small>
    </p>
  </div>
</footer>
<!-- <script src="../js/plugins.js"></script> -->
<!-- <script>
    'use strict';

    document.addEventListener('DOMContentLoaded', function() {
        var slider = document.querySelector('.js_slider');

        lory(slider, {
            infinite: 1,
            enableMouseEvents: true,
        });
    });
</script> -->
