
<footer class="cf z3 relative px-m border-bottom black-5">
  <div class="max-width-xl float-center py-l">
    <div class="cf">
      <div class="col col-12">
         <!-- Links to Everything -->
         <h3 class="h6 caps bold"> Contact </h3>
         <ul class="list-reset small cf">
          <li class="inline-block pr-m">
             <a href="mailto:{{site.email}}">
               <span class="username">{{site.email}}</span>
             </a>
          </li>
          {% if site.angellist_username %}
          <li class="inline-block pr-m">
           <a href="http://angel.co/{{ site.angellist_username }}">
             AngelList
           </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li class="inline-block pr-m">
           <a href="http://linkedin.com/in/{{ site.linkedin_username }}">
             LinkedIn
           </a>
          </li>
          {% endif %}
          <!-- {% if site.instagram_username %}
          <li class="inline-block pr-m">
           <a href="http://instagram.com/{{ site.instagram_username }}">
             Instagram
           </a>
          </li>
          {% endif %} -->
          <!-- {% if site.github_username %}
           <li class="inline-block pr-m">
             <a href="https://github.com/{{ site.github_username }}">
               Github
             </a>
           </li>
          {% endif %} -->
          <!-- {% if site.dribbble_username %}
             <li class="inline-block pr-m">
               <a href="https://dribbble.com/{{ site.dribbble_username }}">
                 Dribbble
               </a>
             </li>
          {% endif %} -->
         </ul>
       </div>
    </div>
    <div class="">
      <p class="copyright">
        <small>All content © Alex Bloom 2010&ndash;{{'now'|date:"%Y"}} <br class="l-xl-hide xl-hide"> All code 100% &#9851; under GPL. </small>
      </p>
    </div>
  </div>
</footer>
