
<div id="site-notification" class=" relative bg-black white pad-m text-center z3">
  👋 &nbsp; Welcome! I'm currently seeking full-time &amp; contract work. <!-- <a href="contact" class="btn mar-x-m"> Hire/Inquire.</a> <button class="caps bold h6 mar-x-m"> Dismiss ❌</button> -->
</div>
<header id="site-header" class="site-header relative left-0 right-0 border-top z3">
  <div class="wrapper cf ">
    <nav class="float-left  mar-x-l mar-t-l">
      <a href="{{site.baseurl}}/" class="h4 link bold mar-0"> {{site.title}} </a>
    </nav>
    <nav class="float-right right-0 mar-x-l mar-t-l">
        <ul class="list-reset cf">
          <li class="inline-block"> <a href="{{site.baseurl}}/about/" class="link bold mar-r-m">About</a></li>
          <!-- <li class="inline-block"> <a href="{{site.baseurl}}/workbench/" class="link bold mar-r-m">Workbench</a></li> -->
          <li class="inline-block"> <a href="{{site.baseurl}}/contact/" class="link bold mar-r-m">Contact</a></li>
        </ul>
    </nav>
  </div>
</header>
