
<header class="site-header relative border-top z3">
  <div class="wrapper cf absolute right-0">
    <nav class="float-right mar-l">
        <ul class="list-reset cf">
          <li class="col col-12 s-col-6"> <a href="about" class="inline-block pad-r-m">About</a></li>
          <li class="col col-12 s-col-6"> <a href="thoughts" class="inline-block pad-r-m">Thoughts</a></li>
          <!-- <li class="col col-12 s-col-4"> <a href="mailto:hello@alexbloom.co" class="inline-block pad-r-m"> Contact </a></li> -->
        </ul>
    </nav>
  </div>
</header>
