<div class="pad-y-l cf">
  <div class="col col-12">
    <h2 class="h6 caps bold"> Featured Projects </h2>
    <div class="flex flex-wrap">
      {% for project in site.projects %}
      <div class="mar-b-l black-5 col-12 m-col-6 l-col-4 pad-r-l align-top border-box">
        <a href="../{{project.permalink}}" class="link">
          <div class="pad-y-m">
            <h2 class="h3 bold mar-0">{{ project.title }}</h2>
            <p class="h5 black-5"> {{project.year}} </p>
            {% if project.subtitle %}
              <p> <small>{{ project.subtitle }}</small> </p>
            {% endif %}
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
