<div class="pad-y-l cf">
  <div class="col col-12">
    <h2 class="h6 caps bold"> Projects </h2>
    <div class="flex flex-wrap">
      {% for project in site.projects %}
      <div class="mar-b-l black-5 col-12 m-col-6 l-col-4 pad-r-l align-top border-box">
        <a href="../{{project.permalink}}" class="link">
          <div class="pad-y-m">
            <h2 class="h3 bold mar-0">{{ project.title }}</h2>
            <p class="h5 black-5"> {{project.year}} </p>
            {% if project.subtitle %}
              <p> <small>{{ project.subtitle }}</small> </p>
            {% endif %}
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="">
    <!-- <h2 class="h6 caps bold"> Website Links </h2>
    <ul class="list-reset">
      <li class="pad-y-s">
        <a href="http://cinereach.org" target=_blank>
          <p class="h3"> Cinereach </p>
        </a>
      </li>
      <li class="pad-y-s">
        <a href="http://thrillderness.co" target=_blank>
          <p class="h3"> Thrillderness </p>
        </a>
      </li>
      <li class="pad-y-s">
        <a href="http://sandbox.tribecafilminstitute.org" target=_blank>
          <p class="h3"> TFI Sandbox </p>
        </a>
      </li>
    </ul> -->
    <hr class="mar-y-xl">
    <h2 class="h6 caps bold"> Other Samples </h2>
    <ul class="list-reset">
      <li class="inline-block pad-r-l pad-y-s">
        <p class=""><a class="link bold" href="http://dribbble.com/alexbloom" target=_blank> Dribbble </a></p>
      </li>
      <li class="inline-block pad-r-l pad-y-s">
        <p class=""><a class="link bold" href="http://designinc.com/alexbloom" target=_blank> Design Inc. </a></p>
      </li>
    </ul>
  </div>
</div>
