<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% assign url_parts = page.url | split: '/' %}

      {% include icons.html %}
      {% if page.url == '/' %}
        <div class="banner bg-black-9 z4 h4 relative white text-center py-m">Feb '24: 🚧 Active construction zone 🚧</div>
      {% endif %}
      {% include header.html %}

      <main class="main relative cf">
        <div class="ajaxWrap">
          <!-- <div id="userLocation" class="px-l absolute top-0 z2">
            <p class="h5 black-8"> {{page.title}} </p>
          </div> -->
          {{ content }}
        </div>
      </main>


      {% include footer.html %}

    <script src="../js/swiper.min.js"></script>
    <script>

      //Swiper Initiation
      var swiper3 = new Swiper ('.swiper-container-3', {
        // Optional parameters
        loop: true,
        pagination: {
          el: '.swiper-pagination-3',
          clickable: true,
        },
        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        // And if we need scrollbar
        scrollbar: {
          el: '.swiper-scrollbar',
        },
      })
      var swiper4 = new Swiper ('.swiper-container-4', {
        // Optional parameters
        loop: true,
        pagination: {
          el: '.swiper-pagination-4',
          clickable: true,
        },
        //Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        // And if we need scrollbar
        scrollbar: {
          el: '.swiper-scrollbar',
        },
      })
      var swiper2 = new Swiper ('.swiper-container-5', {
        // Optional parameters
        loop: true,
        pagination: {
          el: '.swiper-pagination-5',
          clickable: true,
        },
        //Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        // And if we need scrollbar
        scrollbar: {
          el: '.swiper-scrollbar',
        },
      })
    </script>


  </body>

</html>
