---
layout: default
---
<div class="project pad-b-l pad-x-l">
  <nav class="max-width-xl float-center small pad-b-m cf">
    <div class="col col-6">
      <!-- <a class="link" href="{{site.baseurl}}/projects/">Projects</a> / -->
       <a href="#">{{page.title}}</a>
    </div>
    <div class="float-right col-6 text-right">
      {% if page.previous.url %}
      <a class="link uppercase" href="{{page.previous.url}}">&larr; Prev</a>
      {% endif %}
      {% if page.previous.url%} {% if page.next.url %} | {% endif %} {% endif %}
      {% if page.next.url %}
      <a class="link uppercase" href="{{page.next.url}}">Next &rarr;</a>
      {% endif %}
    </div>
  </nav>
  <article class="page-content max-width-xl float-center">
    <header class="pad-y-l">
      <h1 class="mar-t-m"> <span class="fw-800">{{ page.title }}</span></h1>
      {% if page.subtitle %}
      <div class="h2 measure mar-b-l">
        <h2 class="h2 l-h1 fw-300 leading-solid"> {{ page.subtitle }} </h2>
      </div>
      {% endif %}
      {% if page.context %}
        <h2 class="h5 caps bold">Context</h2>
        <p class="measure"> {{ page.context }} </p>
      {% endif %}
      {% if page.launch-link %}
      <div class="mar-b-l">
        <p class="h5 mar-t-0 caps bold"> <span class="bold"> Launch &rarr; </span>{{page.launch-link}} </p>
      </div>
      {% endif %}
    </header>


    <div class="border-bottom-thin pad-b-l mar-b-l">
      {{ content }}
    </div>
    <footer>
       {% if page.partners %}
       <div class="col col-12 m-col-5 pad-r-l">
         <h3 class="h5 caps bold">Partners</h2>
         <ul class="">
           {% for partner in page.partners %}
             <li> {{ partner }} </li>
           {% endfor %}
         </ul>
       </div>
       {% endif %}
       {% if page.services %}
       <div class="col col-12 m-col-5 pad-r-l">
         <h3 class="h5 caps bold"> Services </h2>
           <ul class="">
             {% for service in page.services %}
               <li> {{service}} </li>
             {% endfor %}
           </ul>

       </div>
       {% endif %}
       {% if page.year %}
       <div class="col col-12 m-col-2">
         <h3 class="h5 caps bold"> Year </h2>
         <p class="black-5"> {{page.year}} </p>
       </div>
       {% endif %}
    </footer>
  </article>
</div>
