---
layout: default
---
<div class="project pb-l px-l">

  <article class="page-content max-width-xl float-center pt-xl pb-l">
    <div class="cf">
      <!-- <nav class="float-right col-12 md-col-3 text-center pt-m pb-l">
        {% include project-nav.html %}
      </nav> -->
      <header class="col col-12 md-col-9 pb-l">
        <h1 class=""> <span class="fw-800">{{ page.title }}</span></h1>
        {% if page.subtitle %}
        <div class="h2  mb-l">
          <h2 class="h2 l-h1 fw-300"> {{ page.subtitle }} </h2>
        </div>
        {% endif %}
        {% if page.context %}
          <h2 class="h5 caps bold">Context</h2>
          <p class="measure"> {{ page.context }} </p>
        {% endif %}
        {% if page.launch-link %}
        <div class="mb-l">
          <p class="h5 mt-0 caps bold"> <span class="bold"> &rarr; </span>{{page.launch-link}} </p>
        </div>
        {% endif %}
      </header>
    </div>

    <div class="border-bottom-thin pb-l mb-l">
      {{ content }}
    </div>
    <footer class="cf border-bottom-thin mb-l">
       {% if page.partners %}
       <div class="col col-12 md-col-5 pr-l">
         <h3 class="h5 caps bold">Partners</h2>
         <ul class="">
           {% for partner in page.partners %}
             <li> {{ partner }} </li>
           {% endfor %}
         </ul>
       </div>
       {% endif %}
       {% if page.services %}
       <div class="col col-12 md-col-5 pr-l">
         <h3 class="h5 caps bold"> Services </h2>
           <ul class="">
             {% for service in page.services %}
               <li> {{service}} </li>
             {% endfor %}
           </ul>

       </div>
       {% endif %}
       {% if page.year %}
       <div class="col col-12 md-col-2">
         <h3 class="h5 caps bold"> Year </h2>
         <p class="black-5"> {{page.year}} </p>
       </div>
       {% endif %}
    </footer>
    <!-- <nav class="text-center pt-l">
      {% if page.previous.url %}
      <a class="link uppercase monospace" href="{{page.previous.url}}">&larr; Prev</a> |
      {% endif %}
        <a class="link uppercase monospace" href="{{site.baseurl}}/projects">&#9776; Projects</a>
      {% if page.next.url %}
      | <a class="link uppercase monospace" href="{{page.next.url}}">Next &rarr;</a>
      {% endif %}
    </nav> -->
  </article>
</div>
