/*
 * Grid System in Sass
 */

// Set your number of columns.
$column-count: 12;
$gutter: 2rem;

// Default media queries
@for $i from 1 through $column-count{
	.col-#{$i} {
		width:calc( #{$i} / #{$column-count} * 100% );
		//margin-left: $gutter;
	 }
}
@for $i from 1 through $column-count{
  .sm-col-#{$i} {
     @include breakpoint(sm) {
      width:calc( #{$i} / #{$column-count} * 100% );
     };
   }
}
@for $i from 1 through $column-count{
  .md-col-#{$i} {
     @include breakpoint(md) {
       width:calc( #{$i} / #{$column-count} * 100% );
     };
   }
}
@for $i from 1 through $column-count{
   .lg-col-#{$i} {
     @include breakpoint(lg) {
       width:calc( #{$i} / #{$column-count} * 100% );
     };
   }
}
@for $i from 1 through $column-count{
   .xl-col-#{$i} {
      @include breakpoint(xl) {
        width:calc( #{$i} / #{$column-count} * 100% );
     };
   }
}


.grid{
	display: grid;
  //align-items: center;
	grid-gap: $gutter;
}
