
//Padding
.p-0 {padding:0;}

.p-xs {padding:$space-xs;}
.p-s  {padding:$space-sm;}
.p-m  {padding:$space-md;}
.p-l  {padding:$space-lg;}
.p-xl {padding:$space-xl;}
.p-xxl{padding:$space-xxl;}
.p-xxxl{padding:$space-xxxl;}

.l-p-l{
  @include breakpoint(lg) {
    padding:$space-lg;
  }
}

.pt-xs {padding-top:$space-xs;}
.pt-s  {padding-top:$space-sm;}
.pt-m  {padding-top:$space-md;}
.pt-l  {padding-top:$space-lg;}
.pt-xl {padding-top:$space-xl;}
.pt-xxl{padding-top:$space-xxl;}
.pt-xxxl{padding-top:$space-xxxl;}

.pb-xs {padding-bottom:$space-xs;}
.pb-s  {padding-bottom:$space-sm;}
.pb-m  {padding-bottom:$space-md;}
.pb-l  {padding-bottom:$space-lg;}
.pb-xl {padding-bottom:$space-xl;}
.pb-xxl{padding-bottom:$space-xxl;}
.pb-xxxl{padding-bottom:$space-xxl;}

.py-xs {padding-top:$space-xs;padding-bottom:$space-xs;}
.py-s  {padding-top:$space-sm;padding-bottom:$space-sm;}
.py-m  {padding-top:$space-md;padding-bottom:$space-md;}
.py-l  {padding-top:$space-lg;padding-bottom:$space-lg;}
.py-xl {padding-top:$space-xl;padding-bottom:$space-xl;}
.py-xxl{padding-top:$space-xxl;padding-bottom:$space-xxl;}
.py-xxxl{padding-top:$space-xxxl;padding-bottom:$space-xxxl;}

.pl-xs {padding-left:$space-xs;}
.pl-s  {padding-left:$space-sm;}
.pl-m  {padding-left:$space-md;}
.pl-l  {padding-left:$space-lg;}
.pl-xl {padding-left:$space-xl;}
.pl-xxl{padding-left:$space-xxl;}
.pl-xxxl{padding-left:$space-xxxl;}

.pr-xs {padding-right:$space-xs;}
.pr-s  {padding-right:$space-sm;}
.pr-m  {padding-right:$space-md;}
.pr-l  {padding-right:$space-lg;}
.pr-xl {padding-right:$space-xl;}
.pr-xxl{padding-right:$space-xxl;}
.pr-xxxl{padding-right:$space-xxxl;}

.px-xs {padding-left:$space-xs;padding-right:$space-xs;}
.px-s  {padding-left:$space-sm;padding-right:$space-sm;}
.px-m  {padding-left:$space-md;padding-right:$space-md;}
.px-l  {padding-left:$space-lg;padding-right:$space-lg;}
.px-xl {padding-left:$space-xl;padding-right:$space-xl;}
.px-xxl{padding-left:$space-xxl;padding-right:$space-xxl;}
.px-xxxl{padding-left:$space-xxxl;padding-right:$space-xxxl;}





.px-scaled{
  padding-left:$space-lg;
  padding-right:$space-lg;
  @include breakpoint(md) {
    padding-left:calc( 8.777777% + #{$space-md} );
    padding-right:calc( 8.777777% + #{$space-md} );
  };
}

//Margins
.m-0 {margin:0;}

.m-xs {margin:$space-xs;}
.m-s  {margin:$space-sm;}
.m-m  {margin:$space-md;}
.m-l  {margin:$space-lg;}
.m-xl {margin:$space-xl;}
.m-xxl{margin:$space-xxl;}
.m-xxxl{margin:$space-xxxl;}

.mt-xs {margin-top:$space-xs;}
.mt-s  {margin-top:$space-sm;}
.mt-m  {margin-top:$space-md;}
.mt-l  {margin-top:$space-lg;}
.mt-xl {margin-top:$space-xl;}
.mt-xxl{margin-top:$space-xxl;}
.mt-xxxl{margin-top:$space-xxxl;}

.mb-xs {margin-bottom:$space-xs;}
.mb-s  {margin-bottom:$space-sm;}
.mb-m  {margin-bottom:$space-md;}
.mb-l  {margin-bottom:$space-lg;}
.mb-xl {margin-bottom:$space-xl;}
.mb-xxl{margin-bottom:$space-xxl;}
.mb-xxxl{margin-bottom:$space-xxl;}

.my-xs {margin-top:$space-xs;margin-bottom:$space-xs;}
.my-s  {margin-top:$space-sm;margin-bottom:$space-sm;}
.my-m  {margin-top:$space-md;margin-bottom:$space-md;}
.my-l  {margin-top:$space-lg;margin-bottom:$space-lg;}
.my-xl {margin-top:$space-xl;margin-bottom:$space-xl;}
.my-xxl{margin-top:$space-xxl;margin-bottom:$space-xxl;}
.my-xxxl{margin-top:$space-xxxl;margin-bottom:$space-xxxl;}

.ml-xs {margin-left:$space-xs;}
.ml-s  {margin-left:$space-sm;}
.ml-m  {margin-left:$space-md;}
.ml-l  {margin-left:$space-lg;}
.ml-xl {margin-left:$space-xl;}
.ml-xxl{margin-left:$space-xxl;}
.ml-xxxl{margin-left:$space-xxxl;}


.mr-xs {margin-right:$space-xs;}
.mr-s  {margin-right:$space-sm;}
.mr-m  {margin-right:$space-md;}
.mr-l  {margin-right:$space-lg;}
.mr-xl {margin-right:$space-xl;}
.mr-xxl{margin-right:$space-xxl;}
.mr-xxxl{margin-right:$space-xxxl;}

.mx-xs {margin-left:$space-xs;margin-right:$space-xs;}
.mx-s  {margin-left:$space-sm;margin-right:$space-sm;}
.mx-m  {margin-left:$space-md;margin-right:$space-md;}
.mx-l  {margin-left:$space-lg;margin-right:$space-lg;}
.mx-xl {margin-left:$space-xl;margin-right:$space-xl;}
.mx-xxl{margin-left:$space-xxl;margin-right:$space-xxl;}
.mx-xxxl{margin-left:$space-xxxl;margin-right:$space-xxxl;}

.ml-auto { margin-left: auto }
.mr-auto { margin-right: auto }
.my-auto, .vertical-center { margin-top:auto; margin-bottom:auto}
.mx-auto, .float-center { margin-left: auto; margin-right: auto; }
