
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  //font-family: $heading-font-family;
  color:$black90;
}

h1 {
  font-size: calc(2rem + 3vw);
  line-height:1;
  font-weight:800;
  letter-spacing:-.025em;
  @include breakpoint(lg) {
    font-size: 5rem;
  };
}

h2 {
  font-size: $h2;
  line-height: 1.25;
}

h3 {
  font-size: $h3;
  line-height:1.5;
}
